p {
    color: gray;
    font-size: 50px;
}

/*
.btn {
    background-color: azure;
    color:  blueviolet;
    padding: 5px;
    border-radius: 5px;
}

#textoPrincipal{
    background-color: blanchedalmond;
    color: red;
}
*/

.btn {
    background: rgb(146, 136, 136); /* Vermelho opaco */
}

.btn-1:hover {
    background: rgba(255, 0, 0, 0.7); /* Vermelho com transparência */
}