/* 4 - External */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

/* p {
  color: blueviolet;
} */

/* Algum comentário */
/* mais um comentário * /
/* Terceiro comentário */

/* classes */
.paragraph {
    background-color: #000;
    color: aqua;
    padding: 5px;
}

/* ids */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

/* ordem das regras */
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;
}

/* Nome de cores */
.color-name {
    color: crimson;
}

/* Hex */
.hex {
    color: #55a398;
}

.hex-2 {
    color: #00eaff;
}

/* Aprofundando em hex */
.simple-hex {
    color: #333;
}

.simple-hex-2 {
    color: #a5f;
}

/* RGB */
.rgb {
    color: rgb(255, 0, 0);
}

.mixed-rgb {
    color: rgb(199, 21, 47);
}

/* RGBA */
.rgba {
    color: rgba(100, 199, 45, 0.3);
}

/* HSL */
.hsl {
    color: hsl(100, 20%, 50%);
}

.hsl-2 {
    color: hsl(201, 82%, 48%);
}

/* Background */
.bg {
    background-color: #000;
    color: yellow;
}

.bg-2 {
    background-color: rgb(200, 20, 40);
    color: #00eaff;
}

/* Background opacity */
.bg-opacity {
    background-color: green;
    opacity: 0.2;
}

.bg-opacity-2 {
    background-color: #999;
    color: #000;
    opacity: 0.8;
}

/* RGBA com opacidade */
.rgba-opacity {
    background-color: rgba(90, 120, 20, 0.2);
    color: #000;
}

/* BG image */
.bg-image {
    background-image: url("../2_HTML/images/mba.jpg");
    padding: 10px;
    color: #fff;
}

/* Centralizando bg image */
.not-centered-bg,
.centered-bg {
    height: 400px;
    width: 400px;
    background-image: url("../2_HTML/images/mba.jpg");
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

/* Largura e Altura */

.height-width {
    background-color: red;
    width: 100px;
    height: 200px;
}

.height-width2 {
    background-color: brown;
    height: 200px;
}

/* Padding */

.without-padding,
.with-padding {
    background-color: red;
    color: white;
}

.with-padding {
    padding: 20px;
    background-color: #000;
}

/* Individual Padding */

.individual-padding{
    background-color: #333;
    color: white;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 40px;
}

/* Shorthand Padding */

.shorthand-padding {
    background-color: orange;
    color: black;
    /*padding: 30px 15px 15px 30px;*/
    padding: 10px 20px;
}

/* Padding com Width */

.without-border-box {
    background-color: gray;
    color:white;
    width: 400px;
    padding: 50px;
}

.with-border-box {
    background-color: black;
    color: white;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* Border */

.with-border {
    border: 5px solid red;
    padding: 10px;
}

.with-border2 {
    border: 3px dotted brown;
    padding: 5px;
}

/* Borda Individual */

.border-left {
    border-left: 3px solid red;
    background-color: black;
    padding: 10px;
}

.border-bottom {
    border-left: 5px double blue;
    background-color: gray;
    padding: 10px;
}

/* Border Radius */

.border-radius {
    background-color: blue;
    color: white;
    border-radius: 20px;
    padding: 10px;
}

/* Margem */

.margin {
    background-color: #333;
    margin: 10px;
    color: white;
}

.margin-top{
    background-color: #222;
    margin-top: 10px;
    color: white;
}

.margin-shorthand{
    background-color: #444;
    margin: 10px 15px 20px 30px;
    color: white;
}

/* Box Model */

.box-model {
    margin: 10px;
    padding: 10px 15px;
    border: 2px solid gray;
    border-radius: 5px;
    width: 200px;
    height: 300px;
}

/* Exercicio */

#exercicio-box-model {
    margin: 10px;
    padding: 10px;
    color: red;
    background-color: black;
    border: 2px solid gray;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    outline: 3px solid red;
}

.h2-exercicio {
    background-color: gray;
}

/* Text Align */

.alignment-text {
    text-align: right;
}

.container-center {
    text-align: center;
    width: 300px;
    border: 1px solid red;
}

/* Text Decoration */

.underline {
    text-decoration: underline;
}

.line-through{
    text-decoration: line-through;
}

.remove-underline {
    text-decoration: none;
}

/* Text Transform */

.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

/* Letter Spacing */

.spacing {
    letter-spacing: 10px;
}

/* Font Family */

.serif {
    font-family: serif;
}

.sans-serif {
    font-family: sans-serif;
}

.monospace {
    font-family: monospace;
}

.fantasy {
    font-family: fantasy;
}

.cursive {
    font-family: cursive;
}

/* Font Style */

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

/* Font Weight */

.thin,
.bold,
.bolder {
    font-family: Helvetica;
}

.thin {
    font-weight: 100;
}

.bold {
    font-weight: 600;
}

.bolder {
    font-weight: 900;
}

/* Font size */

.small {
    font-size: 4px;
    background-color: pink;
}

.big {
    font-size: 40px;
    background-color: red;
}

/* Display */

.inline-box {
    color: green;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    background-color: #55a398;
    display: inline-block; /* Deixa os elementos lado a lado */
}

.block {
    color: yellow;
    background-color: pink;
    display: block;
    margin: 10px;
}

/* Escondendo elementos */

.invisible {
    display: none;
}

/* Static */

.static {
    position: static;
    background-color: green;
    width: 100px;
    height: 100px;
}

/* Relative */

.relative {
    position: relative;
    background-color: blue;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 100px;
}

/* Absolute */

.absolute {
    position: absolute;
    background-color: gray;
    width: 100px;
    height: 100px;
    top: 2px;
    right: 2px;
}

/* Relative com absolute */

.relative-container {
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin-top: 120px;
    position: relative;
}

.absolute-1,
.absolute-2 {
   width: 50px;
   height: 50px;
   background-color: gray;
   position: absolute; 
}

.absolute-1 {
    top: 10px;
    right: 10px;
}