.flex {
    display: flex;
    background-color: gray;
}

.flex-column {
    display: flex;
    background-color: #ccc;
    flex-direction: column;
    width: 40%;
    margin-bottom: 20px;
}

.flex-wrap {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.box {
    height: 40px;
    width: 33%;
    border: 1px solid red;
}

/* Justify content */

.center,
.space-around,
.space-between,
.end {
    display: flex;
    margin-bottom: 20px;
}

.center .box,
.space-around .box,
.space-between .box,
.end .box {
    width: 30px;
}

.center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.end {
    justify-content: end;
}

/* Align Itens */

.align-center,
.flex-end,
.strech {
    display: flex;
    margin-bottom: 20px;
    height: 200px;
    border: 1px solid blue;
}

.align-center .box,
.flex-end .box,
.strech .box {
    width: 30px;
}

.align-center {
    align-items: center;
}

.flex-end {
    align-items: flex-end;
}

.strech {
    align-items: stretch;
}

.strech .box {
    height: auto;
}

/* Gap */

.gap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid green;
    gap: 20px;
}

.gap .box {
    width: 32%;
}

/* Order */

.order {
    display: flex;
}

#one {
    order: 1;
}

#two {
    order: 2;
}

#three {
    order: 3;
}

/* Grow */

.grow {
    display: flex;
}

.grow .box {
    flex: 1;
}

.grow .box-big {
    flex: 2;
}